In [1]:
import urllib

In [2]:
from urllib.request import urlopen

In [27]:
data = urlopen('https://www.summet.com/dmsi/html/codesamples/simpleTable.html')
data

In [28]:
data_string = data.read().decode()
data_string

'<html><head>\n            <title>Dewey Cheetum &amp; Howe, LLC</title>\n            </head>\n             <h1>The Law firm of Dewey, Cheetum, &amp; Howe, LCC</h1>\n             <h2>Forclosure Sales Listing:</h2>\n            <table border=1><tr><td>Address</td><td>City</td><td>State</td><td>Original Mortgage Amount</td><td>Bid Amount</td></tr>\n<tr><td>967 Summit Avenue</td><td>Atlanta</td><td>GA</td><td>$383957</td><td>Not avaliable</td></tr>\n<tr><td>800 Deadly Curves Dr.</td><td>Atlanta</td><td>GA</td><td>$380745</td><td>Not avaliable</td></tr>\n<tr><td>255 Summit Avenue</td><td>Atlanta</td><td>GA</td><td>$100840</td><td>$44817.7777778</td></tr>\n<tr><td>885 Cain Street</td><td>Atlanta</td><td>GA</td><td>$448045</td><td>$348479.444444</td></tr>\n<tr><td>878 Ashby Street</td><td>Atlanta</td><td>GA</td><td>$164010</td><td>$91116.6666667</td></tr>\n<tr><td>772 McDonough Boulevard</td><td>Atlanta</td><td>GA</td><td>$309132</td><td>Not avaliable</td></tr>\n<tr><td>164 Stewart Avenue</td><td>Atlanta</td><td>GA</td><td>$444724</td><td>Not avaliable</td></tr>\n<tr><td>239 Capitol Avenue</td><td>Atlanta</td><td>GA</td><td>$291100</td><td>Not avaliable</td></tr>\n<tr><td>714 Peters Street</td><td>Atlanta</td><td>GA</td><td>$284642</td><td>Not avaliable</td></tr>\n<tr><td>775 De Long Way</td><td>Atlanta</td><td>GA</td><td>$179520</td><td>Not avaliable</td></tr>\n<tr><td>258 Windy Lane</td><td>Atlanta</td><td>GA</td><td>$231760</td><td>Not avaliable</td></tr>\n<tr><td>159 Stewart Avenue</td><td>Atlanta</td><td>GA</td><td>$364357</td><td>Not avaliable</td></tr>\n<tr><td>904 Summit Avenue</td><td>Atlanta</td><td>GA</td><td>$301802</td><td>$167667.777778</td></tr>\n<tr><td>677 Yonge Street</td><td>Atlanta</td><td>GA</td><td>$187197</td><td>Not avaliable</td></tr>\n<tr><td>557 North Collins Street</td><td>Atlanta</td><td>GA</td><td>$429656</td><td>Not avaliable</td></tr>\n<tr><td>403 Peters Street</td><td>Atlanta</td><td>GA</td><td>$430000</td><td>Not avaliable</td></tr>\n<tr><td>576 Sawmill Way</td><td>Atlanta</td><td>GA</td><td>$421216</td><td>Not avaliable</td></tr>\n<tr><td>339 Chestnut Street</td><td>Atlanta</td><td>GA</td><td>$444065</td><td>Not avaliable</td></tr>\n<tr><td>881 Ivy Street</td><td>Atlanta</td><td>GA</td><td>$109157</td><td>Not avaliable</td></tr>\n<tr><td>277 North Collins Street</td><td>Atlanta</td><td>GA</td><td>$225595</td><td>Not avaliable</td></tr>\n<tr><td>974 Cain Street</td><td>Atlanta</td><td>GA</td><td>$348816</td><td>$193786.666667</td></tr>\n<tr><td>327 Sawmill Way</td><td>Atlanta</td><td>GA</td><td>$123451</td><td>Not avaliable</td></tr>\n<tr><td>319 Hunter Street</td><td>Atlanta</td><td>GA</td><td>$368296</td><td>Not avaliable</td></tr>\n<tr><td>760 Deadly Curves Dr.</td><td>Atlanta</td><td>GA</td><td>$465483</td><td>Not avaliable</td></tr>\n<tr><td>199 Deadly Curves Dr.</td><td>Atlanta</td><td>GA</td><td>$199128</td><td>$88501.3333333</td></tr>\n<tr><td>915 Cain Street</td><td>Atlanta</td><td>GA</td><td>$178550</td><td>$79355.5555556</td></tr>\n<tr><td>810 Walker Street</td><td>Atlanta</td><td>GA</td><td>$121518</td><td>$94514.0</td></tr>\n<tr><td>834 Hightower Road</td><td>Atlanta</td><td>GA</td><td>$134789</td><td>Not avaliable</td></tr>\n</table></html>'

In [29]:
import re
data_clean = re.sub('<.*?>',' ',data_string.strip())
data_clean

'  \n             Dewey Cheetum &amp; Howe, LLC \n             \n              The Law firm of Dewey, Cheetum, &amp; Howe, LCC \n              Forclosure Sales Listing: \n               Address  City  State  Original Mortgage Amount  Bid Amount  \n  967 Summit Avenue  Atlanta  GA  $383957  Not avaliable  \n  800 Deadly Curves Dr.  Atlanta  GA  $380745  Not avaliable  \n  255 Summit Avenue  Atlanta  GA  $100840  $44817.7777778  \n  885 Cain Street  Atlanta  GA  $448045  $348479.444444  \n  878 Ashby Street  Atlanta  GA  $164010  $91116.6666667  \n  772 McDonough Boulevard  Atlanta  GA  $309132  Not avaliable  \n  164 Stewart Avenue  Atlanta  GA  $444724  Not avaliable  \n  239 Capitol Avenue  Atlanta  GA  $291100  Not avaliable  \n  714 Peters Street  Atlanta  GA  $284642  Not avaliable  \n  775 De Long Way  Atlanta  GA  $179520  Not avaliable  \n  258 Windy Lane  Atlanta  GA  $231760  Not avaliable  \n  159 Stewart Avenue  Atlanta  GA  $364357  Not avaliable  \n  904 Summit Avenue  Atlanta  GA  $301802  $167667.777778  \n  677 Yonge Street  Atlanta  GA  $187197  Not avaliable  \n  557 North Collins Street  Atlanta  GA  $429656  Not avaliable  \n  403 Peters Street  Atlanta  GA  $430000  Not avaliable  \n  576 Sawmill Way  Atlanta  GA  $421216  Not avaliable  \n  339 Chestnut Street  Atlanta  GA  $444065  Not avaliable  \n  881 Ivy Street  Atlanta  GA  $109157  Not avaliable  \n  277 North Collins Street  Atlanta  GA  $225595  Not avaliable  \n  974 Cain Street  Atlanta  GA  $348816  $193786.666667  \n  327 Sawmill Way  Atlanta  GA  $123451  Not avaliable  \n  319 Hunter Street  Atlanta  GA  $368296  Not avaliable  \n  760 Deadly Curves Dr.  Atlanta  GA  $465483  Not avaliable  \n  199 Deadly Curves Dr.  Atlanta  GA  $199128  $88501.3333333  \n  915 Cain Street  Atlanta  GA  $178550  $79355.5555556  \n  810 Walker Street  Atlanta  GA  $121518  $94514.0  \n  834 Hightower Road  Atlanta  GA  $134789  Not avaliable  \n  '

In [31]:
data = re.sub('\n',',',data_clean.strip())
data.split('  ')

['Dewey Cheetum &amp; Howe, LLC ,',
 '',
 '',
 '',
 '',
 '',
 ' ,',
 '',
 '',
 '',
 '',
 '',
 '',
 'The Law firm of Dewey, Cheetum, &amp; Howe, LCC ,',
 '',
 '',
 '',
 '',
 '',
 '',
 'Forclosure Sales Listing: ,',
 '',
 '',
 '',
 '',
 '',
 '',
 ' Address',
 'City',
 'State',
 'Original Mortgage Amount',
 'Bid Amount',
 ',',
 '967 Summit Avenue',
 'Atlanta',
 'GA',
 '$383957',
 'Not avaliable',
 ',',
 '800 Deadly Curves Dr.',
 'Atlanta',
 'GA',
 '$380745',
 'Not avaliable',
 ',',
 '255 Summit Avenue',
 'Atlanta',
 'GA',
 '$100840',
 '$44817.7777778',
 ',',
 '885 Cain Street',
 'Atlanta',
 'GA',
 '$448045',
 '$348479.444444',
 ',',
 '878 Ashby Street',
 'Atlanta',
 'GA',
 '$164010',
 '$91116.6666667',
 ',',
 '772 McDonough Boulevard',
 'Atlanta',
 'GA',
 '$309132',
 'Not avaliable',
 ',',
 '164 Stewart Avenue',
 'Atlanta',
 'GA',
 '$444724',
 'Not avaliable',
 ',',
 '239 Capitol Avenue',
 'Atlanta',
 'GA',
 '$291100',
 'Not avaliable',
 ',',
 '714 Peters Street',
 'Atlanta',
 'GA',
 '$284642',
 'Not avaliable',
 ',',
 '775 De Long Way',
 'Atlanta',
 'GA',
 '$179520',
 'Not avaliable',
 ',',
 '258 Windy Lane',
 'Atlanta',
 'GA',
 '$231760',
 'Not avaliable',
 ',',
 '159 Stewart Avenue',
 'Atlanta',
 'GA',
 '$364357',
 'Not avaliable',
 ',',
 '904 Summit Avenue',
 'Atlanta',
 'GA',
 '$301802',
 '$167667.777778',
 ',',
 '677 Yonge Street',
 'Atlanta',
 'GA',
 '$187197',
 'Not avaliable',
 ',',
 '557 North Collins Street',
 'Atlanta',
 'GA',
 '$429656',
 'Not avaliable',
 ',',
 '403 Peters Street',
 'Atlanta',
 'GA',
 '$430000',
 'Not avaliable',
 ',',
 '576 Sawmill Way',
 'Atlanta',
 'GA',
 '$421216',
 'Not avaliable',
 ',',
 '339 Chestnut Street',
 'Atlanta',
 'GA',
 '$444065',
 'Not avaliable',
 ',',
 '881 Ivy Street',
 'Atlanta',
 'GA',
 '$109157',
 'Not avaliable',
 ',',
 '277 North Collins Street',
 'Atlanta',
 'GA',
 '$225595',
 'Not avaliable',
 ',',
 '974 Cain Street',
 'Atlanta',
 'GA',
 '$348816',
 '$193786.666667',
 ',',
 '327 Sawmill Way',
 'Atlanta',
 'GA',
 '$123451',
 'Not avaliable',
 ',',
 '319 Hunter Street',
 'Atlanta',
 'GA',
 '$368296',
 'Not avaliable',
 ',',
 '760 Deadly Curves Dr.',
 'Atlanta',
 'GA',
 '$465483',
 'Not avaliable',
 ',',
 '199 Deadly Curves Dr.',
 'Atlanta',
 'GA',
 '$199128',
 '$88501.3333333',
 ',',
 '915 Cain Street',
 'Atlanta',
 'GA',
 '$178550',
 '$79355.5555556',
 ',',
 '810 Walker Street',
 'Atlanta',
 'GA',
 '$121518',
 '$94514.0',
 ',',
 '834 Hightower Road',
 'Atlanta',
 'GA',
 '$134789',
 'Not avaliable']

In [69]:
address=[]
for i in data1:
    a = re.findall(r'\b\d{3}[ ]\w.+\b',i)
    if a:
        address.extend(a)
print(address,len(address))

['967 Summit Avenue', '800 Deadly Curves Dr', '255 Summit Avenue', '885 Cain Street', '878 Ashby Street', '772 McDonough Boulevard', '164 Stewart Avenue', '239 Capitol Avenue', '714 Peters Street', '775 De Long Way', '258 Windy Lane', '159 Stewart Avenue', '904 Summit Avenue', '677 Yonge Street', '557 North Collins Street', '403 Peters Street', '576 Sawmill Way', '339 Chestnut Street', '881 Ivy Street', '277 North Collins Street', '974 Cain Street', '327 Sawmill Way', '319 Hunter Street', '760 Deadly Curves Dr', '199 Deadly Curves Dr', '915 Cain Street', '810 Walker Street', '834 Hightower Road'] 28

In [68]:
city=[]
for i in data1:
    a = re.findall(r'\b[A][t][l][a][n][t][a]\b',i)
    if a:
        city.extend(a)
print(city,len(city))

['Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta', 'Atlanta'] 28

In [72]:
amount=[]
for i in data1:
    a = re.findall('[$]\d{6}$',i)
    if a:
        amount.extend(a)
print(amount,len(amount))

['$383957', '$380745', '$100840', '$448045', '$164010', '$309132', '$444724', '$291100', '$284642', '$179520', '$231760', '$364357', '$301802', '$187197', '$429656', '$430000', '$421216', '$444065', '$109157', '$225595', '$348816', '$123451', '$368296', '$465483', '$199128', '$178550', '$121518', '$134789'] 28

In [66]:
bid_amount=[]
for i in data1:
    a = re.findall('[$]\d+[.]\d+|^[N]\w+[ ]\w+',i)
    if a:
        bid_amount.extend(a)
print(bid_amount,len(bid_amount))

['Not avaliable', 'Not avaliable', '$44817.7777778', '$348479.444444', '$91116.6666667', 'Not avaliable', 'Not avaliable', 'Not avaliable', 'Not avaliable', 'Not avaliable', 'Not avaliable', 'Not avaliable', '$167667.777778', 'Not avaliable', 'Not avaliable', 'Not avaliable', 'Not avaliable', 'Not avaliable', 'Not avaliable', 'Not avaliable', '$193786.666667', 'Not avaliable', 'Not avaliable', 'Not avaliable', '$88501.3333333', '$79355.5555556', '$94514.0', 'Not avaliable'] 28

In [62]:
import pandas as pd

In [86]:
final_data = {'Street Name ': address,'City':city,'Amount':amount,'Bid_Amount':bid_amount}
dt = pd.DataFrame(final_data)
# print(dt)
dt.to_csv('Web_site3.csv')

In [90]:
dt = pd.DataFrame(final_data).head()
dt

           Street Name      City   Amount      Bid_Amount
0     967 Summit Avenue  Atlanta  $383957   Not avaliable
1  800 Deadly Curves Dr  Atlanta  $380745   Not avaliable
2     255 Summit Avenue  Atlanta  $100840  $44817.7777778
3       885 Cain Street  Atlanta  $448045  $348479.444444
4      878 Ashby Street  Atlanta  $164010  $91116.6666667

In [91]:
dt = pd.DataFrame(final_data).tail()
dt

            Street Name      City   Amount      Bid_Amount
23  760 Deadly Curves Dr  Atlanta  $465483   Not avaliable
24  199 Deadly Curves Dr  Atlanta  $199128  $88501.3333333
25       915 Cain Street  Atlanta  $178550  $79355.5555556
26     810 Walker Street  Atlanta  $121518        $94514.0
27    834 Hightower Road  Atlanta  $134789   Not avaliable

In [107]:
address=[]
city = []
amount = []
Bid_Amount = []
for i,v in enumerate(data1):
    if re.findall(r'\b\d{3}[ ]\w.+\b',v):
        address.append(v)
        city.append(data1[i+1])
        amount.append(data1[i+3])
        Bid_Amount.append(data1[i+4])
        
# df=pd.DataFrame([address,city,amount,bid_amount]).T.head()
# df
final_data = {'Street Name ': address,'City':city,'Amount':amount,'Bid_Amount':bid_amount}
dt = pd.DataFrame(final_data)
# print(dt)
dt.to_csv('Web_site_3.csv')